body{
    background-color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

   

#div1{
    border: 2px solid;
    border-radius: 50px;
    width: 800px;
    margin:auto;
}
#div2{
    border: 2px solid;
    border-radius: 50px;
    width: 800px;
    margin: auto;
}
#div3{
    border: 2px solid;
    border-radius: 50px;
    width: 800px;
    margin: auto;
}
h4{
    color: red;
    text-decoration: dotted;
}